<!-- <div class="form_container">
    <form action="" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <label for="">Email</label>
        <input type="text" name="email" id="email" [ngModel]="form.username" #username="ngModel">
        <br>
        <label for="">Mot de passe</label>
        <input type="password" name="password" id="password" minlength="8" required [ngModel]="form.password"
            #password="ngModel">
        <br>
        <button type="submit">Envoyer</button>
    </form>
</div> -->

<div class="form_container">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div class="group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" [(ngModel)]="form.username" #username="ngModel" required>
        </div>
        <div class="form_error" *ngIf="username.errors && f.submitted">
            Email is required!!
        </div>
        <div class="group">
            <label for="password">password</label>
            <input type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel"
                required minlength="5">
        </div>
        <div class="form_error" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">password is required</div>
            <div *ngIf="password.errors['minlength']">au moins 5 caractere
            </div>
        </div>
        <div class="group">
            <button type="submit">login</button>
        </div>
    </form>

    <a [routerLink]="['/']">Pas encore de compte ? S'inscrire ici :</a>
</div>