<div class="cart container">
    <div class="leftCart">
        <h1>Panier</h1>
        <div class="leftCartContent" *ngFor="let product of products; let i  = index">
            <img ngSrc="http://localhost:8000/media/img/products/{{product.images[0].link}}" width="350" height="200"
                priority alt="Product" alt="" class="">
            <div class="nomPrix">
                <p>{{product?.title}} </p>
                <p>{{product?.price}} €</p>
            </div>
            <div class="quantityAndTotal">
                <div class="quantity">
                    <label for="quantityInCart">Quantité dans le panier :</label>
                    <input [(ngModel)]="product.quantityInCart" [ngModelOptions]="{standalone: true}" min="1"
                        type="number" value="1" name="quantityInCart" class="" (change)="changeSubTotal()" />
                </div>
                <p>{{ product.quantityInCart * product?.price | number : '1.2-2'}} €</p>
            </div>

            <button (click)="removeFromCart(product)" type="button" class="">Supprimer du panier</button>
        </div>
    </div>
    <div class="rightCart">
        <div class="rightCartContent">
            <div class="email" *ngIf="isVisible === true">
                <form [formGroup]="emailForm" (ngSubmit)="setEmailForVerification(email)" class="emailCheck">
                    <input type="email" id="email" formControlName="email" #email placeholder="Email...">
                    <button type="submit">Valider</button>
                </form>
                <div *ngIf="emailForm.get('email')?.hasError('required') && emailForm.get('email')?.touched">
                    Veuillez saisir une adresse e-mail.
                </div>
                <div *ngIf="emailForm.get('email')?.hasError('email') && emailForm.get('email')?.touched">
                    Veuillez saisir une adresse e-mail valide.
                </div>
            </div>
            <h2 class="">Prix total : {{total | number : '1.2-2'}} €</h2>
            <div class="interactions">
                <button type="button" (click)="checkout()">Payer</button>
                <button type="button" (click)="clearProducts()">Vider le panier</button>
            </div>
        </div>
    </div>
</div>