<h1>Panier</h1>

<div class="">

    <h2 class="">Total Price</h2>
    <div class="">{{total}} €</div>
    <hr>
    <h3 class="">
        Product Preview
    </h3>
    <div class="" *ngFor="let product of products; let i  = index">
        <img ngSrc="http://localhost:8000/media/img/products/{{product.images[0].link}}" width="450" height="300"
            priority alt="Product" alt="" class="">
        <h5>{{product?.title}} <span>${{product?.price}}</span></h5>
        <span class="">Product Description</span>
        <p>
            {{product?.description}}
        </p>
        <div>
            <input [(ngModel)]="product.quantityInCart" [ngModelOptions]="{standalone: true}" min="1" type="number"
                value="1" name="" class="" (change)="changeSubTotal()" />
            <br />
            <span>{{ product.quantityInCart * product?.price | number : '1.2-2'}} €</span>
        </div>

        <button (click)="removeFromCart(product)" type="button" class="">Supprimer du panier</button>
        <hr />
    </div>
</div>