<h2 class="container">Home</h2>
<div class="card">
  <div *ngFor="let product of products" class="productList">
    <ul class="product" [routerLink]="['galery/product', product.id]"
        style="background-image:  url(http://localhost:8000/media/img/products/{{product.images[0].link}});">
      <div class="fond"></div>
      <div class="description">
        <li>{{ product.title }}</li>
        <li>{{ product.price }} €</li>
      </div>
    </ul>
  </div>
</div>
<div id="buttonGallery">
  <button class="button" >Voir tous</button>
</div>

