<div class="form_container">
	<form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()">
		<div class="form-group">
			<input type="text" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="Email">
		</div>
		<div class="form-group">
			<input type="text" id="prenom" name="prenom" [(ngModel)]="user.name" #prenom="ngModel" placeholder="Prénom">
		</div>
		<div class="form-group">
			<input type="number" id="age" name="age" [(ngModel)]="user.age" #nom="ngModel" placeholder="Age">
		</div>
		<div class="form-group">
			<button type="submit">Modifier</button>
		</div>
	</form>
</div>