.userData {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	height: 100%;
}

.dasboardUserCard {
	border: solid 1px #303a3b;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 5%;
	margin: auto;
}

.bills {
	margin-bottom: 5%;
	border: solid 1px #303a3b;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 5%;
}
