<div *ngIf="userData" class="userData">
  <div class="UserCard">
    <h2>Mes Infos :</h2>
    <div>{{userData.name}}</div>
    <div>{{userData.email}}</div>
  </div>
  <div class="bills">
    <h2>Ma dernière facture :</h2>
    <div *ngFor="let bill of userData.bills; let last = last">
      <ng-container *ngIf="last">
        <div class="billCard">
          <div *ngFor="let keey of bill.keeys">
            <img alt="" height="30" ngSrc="http://localhost:8000/media/img/products/{{keey.keyProduct.images[0].link}}"
              priority width="40">
            <p>Nom du produit : {{keey.keyProduct.title}}</p>
          </div>
          <p>Numéro de facture : {{ bill.billNumber }}</p>
        </div>
      </ng-container>
    </div>
    <button (click)="btbill()">voir toutes vos factures</button>
  </div>
</div>