.userData {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	height: 100%;
}

.UserCard {
	border: solid 1px #303a3b;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 5%;
	margin: 0 auto 5% auto;
}

.bills {
	margin-bottom: 5%;
	border: solid 1px #303a3b;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 5%;
}

.billCard {
	border: #303a3b solid 1px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 5%;
	transition: all ease 0.3s;
}

.billCard img {
	width: 250px;
	height: auto;
	border-radius: 10px;
}

.billCard:hover {
	cursor: pointer;
	border: #35ff69 solid 1px;
}
