<div class="card">
    <ul *ngIf="product">
        <ul>
            <li>
                <img ngSrc="http://localhost:8000/media/img/products/{{product.images[0].link}}" width="400"
                    height="300" priority alt="">
                <!-- le [0] devra etre generalisé avec un for-->
            </li>
        </ul>
        <li>
            Titre : {{ product.title}}
        </li>
        <li>
            Quantité : {{ product.quantity }}
        </li>
        <li>
            Date de sortie : {{ product.releaseDate }}
        </li>
        <li>
            Prix : {{ product.price }}
        </li>
        <li>
            Description : {{ product.description }}
        </li>
        <li>
            Note : {{ product.rate }}
        </li>
        <li>
            Contenu du produit : {{ product.productcontent }}
        </li>
        <li>
            Config requise : {{ product.requiredspecs }}
        </li>
        <li>
            Edition : {{ product.edition }}
        </li>
        <ul class="tags">Tags :
            <li *ngFor="let tag of product.tags">
                {{ tag.name }},
            </li>
        </ul>
        <ul class="tags">Plateformes :
            <li *ngFor="let platform of product.platforms">
                {{ platform.name }},
            </li>
        </ul>
        <button class="btn" (click)="addItemToCart()">Acheter</button>
    </ul>
</div>