.billCards {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 50px;
}

.billCard {
	border: #303a3b solid 1px;
	padding: 10px;
	border-radius: 10px;
	margin: auto;
	transition: all ease 0.3s;
}

.billCard img {
	width: 250px;
	height: auto;
	border-radius: 10px;
}

.billCard:hover {
	cursor: pointer;
	border: #35ff69 solid 1px;
}
