<div *ngIf="userData">
  <div class="billCards">
    <div *ngFor="let bill of userData.bills" class="billCard">
      <div [routerLink]="['details', bill.id]">
        <div *ngFor="let keey of bill.keeys">
          <img ngSrc="http://localhost:8000/media/img/products/{{keey.keyProduct.images[0].link}}" width="40"
            height="30" priority alt="">
          <p>Nom du produit : {{keey.keyProduct.title}}</p>
          <p>Numéro de la facture : {{ bill.billNumber }}</p>
          <p>Prix : </p>
        </div>
      </div>
    </div>
  </div>
</div>