/* You can add global styles to this file, and also import other style files */
/*font utiliser*/
/*font-family: 'Amita', serif;*/
/*font-family: 'Barlow', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Roboto', sans-serif;*/
html {
  height: 100%;
}

body {
margin: 0;
  background-color: #1E2425;
  background-position:center ;
  background-repeat: no-repeat ;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  color: white;
  font-family: "Barlow" ,sans-serif;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
  transition:all ease 0.3s;
}
a:hover{
  cursor: pointer;
}
.container{
  width: 80%;
  margin: auto;
}
.logo {
  font-family: 'Amita', serif;
  color: #35FF69;
}
button{
  background-color:#1E2425 ;
  padding: 1%;
  color: #35FF69;
  border: #35FF69 solid 1px;
  border-radius: 50px;
  font-family: "Barlow" , sans-serif;
  transition: all ease 0.3s;
}
button:hover{
  border: #35FF69 solid 1px;
  color: #1E2425;
  background-color: #35FF69;
  cursor: pointer;
}
