<div class="card">
    <ul *ngFor="let product of products">
        <ul>
            <li *ngFor="let image of product.images">
                <img src="" alt="Product Image">
            </li>
        </ul>
        <li>
            Titre : {{ product.title}}
        </li>
        <li>
            Quantité : {{ product.quantity }}
        </li>
        <li>
            Date de sortie : {{ product.releaseDate }}
        </li>
        <li>
            Prix : {{ product.price }}
        </li>
        <li>
            Description : {{ product.description }}
        </li>
        <li>
            Note : {{ product.rate }}
        </li>
        <li>
            Contenu du produit : {{ product.productcontent }}
        </li>
        <li>
            Config requise : {{ product.requiredspecs }}
        </li>
        <li>
            Edition : {{ product.edition }}
        </li>
        <ul class="tags">Tags :
            <li *ngFor="let tag of product.tags">
                {{ tag.name }},
            </li>
        </ul>
        <ul class="tags">Plateformes :
            <li *ngFor="let platform of product.platforms">
                {{ platform.name }},
            </li>
        </ul>
    </ul>
</div>